footer.main-block {
  background-color: transparent;
  margin-top: 60vh;
  padding: 0 0 env(safe-area-inset-bottom);

  @media (max-width: 860px) {
    padding: 0 2.7% env(safe-area-inset-bottom);
  }
  
  p {
    color: $light;
    text-shadow: 0 0 12px rgba(black, 0.6);
    font-size: 0.875rem;
  }
}