.site-header {
  background-color: $dark;
  padding: 1rem 0;
  margin-bottom: 7rem;
  
  nav {
    padding: 0;
  }
}

.site-header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);

  @media (max-width: 860px) {
    padding: 0 2.7%;
  }
}


.back-arrow {
  height: 3rem;
  box-sizing: content-box;
  cursor: pointer;
  fill: $light;

  &:hover {
    fill: $purple;
  }
}

.logo {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;

  svg {
    display: block;
    height: 2.2rem;
    fill: $light;

    @media (max-width: 530px ) {
      height: auto;
      width: 100%;
    }
  }
}

.back-arrow +.logo {
  margin-left: 1.5rem;

  @media (max-width: 530px ) {
    margin-left: 2.7%;
  }
}