$font: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;

// Theme
$light: #cdcdcd;
$dark: #272727;
$purple: rebeccapurple;

// UI colors
$green: #2aab2a;
$red: #ce3b3b;